# Dependencies for docker image.

black==22.10.0
coverage==6.5.0
flake8==4.0.1
flake8-bugbear==22.12.6
flake8-docstrings==1.6.0
isort==5.10.1
mypy==0.931
pre-commit==2.7.1
pyflakes==2.4.0
pylint==2.6.0
pytest==6.0.2
pytest-cov==2.10.1
pytest-flake8==1.1.0
pytest-mypy==0.10.2
pytest-pylint==0.17.0
flake8-annotations==2.7.0
flake8-polyfill==1.0.2
docformatter==1.5.0
mkdocs==1.2.3
# mkapi==1.0.14
mkdocs-ivory==0.4.6
opencv-python==4.5.3.56
wandb==0.12.3
p-tqdm==1.3.3
albumentations==1.1.0
kindle>=0.4.3
pytorch-lightning==1.4.9
matplotlib==3.3.4
seaborn==0.11.2
onnx==1.10.1
onnx-simplifier>=0.3.6
onnxruntime=1.10
tensorly==0.6.0
orjson==3.6.4
optuna==2.10.0
pycocotools==2.0.2
pandas==1.3.4
numpy==1.20.2
types-PyYAML
types-tabulate
